.body{
    background-color: #f4f3f6;
}

.heading{
    top: 20%;
    padding: 30px;
    font-size: 30px;
}

.table{
    margin-left: 30px;
    border: 30px solid white;
    border-radius: 20px;
}

.handsontable{
    width: fit-content;
}

.handsontable TD {
    border: 1px solid #f7f7f5;
    width: 350px;
}

.read-only{
    color: black ;
    background-color: #eceaf6 !important;
    font-weight: bold;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle !important;
}


td.header, td.header:read-only{
    color: black ;
    background-color: #EEEEEE ;
    font-weight: bold;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

td.first-col, td.first-col:read-only {
    color: black;
    font-weight: bold;
    height: 40px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
}